In [1]:
class Ml_model:

    def __init__(self):
        self.df = None
        self.x_train = None
        self.x_test = None
        self.y_train = None
        self.y_test = None
        self.x_train_new = None
        self.x_test_new = None
        self.y_pred = None

    def data_read(self, path):
        import pandas as pd
        self.df = pd.read_csv(path)
        return self.df.head(3)

    def handling_missing_value(self):
        missing_dtype = []
        for i in self.df.columns:
            missing = self.df[i].isnull().sum()
            if missing>0:
                missing_dtype.append(i)
        from sklearn.impute import SimpleImputer
        for i in missing_dtype:
            if i in self.df.columns:
                from sklearn.impute import SimpleImputer
                si = SimpleImputer(strategy="mean")
                self.df[i] = si.fit_transform(self.df[[i]])
        return self.df.empty

    def Encoder(self):
        object_list = []
        for i in self.df.select_dtypes(include = ["object"]).columns:
            object_list.append(i)
        from sklearn.preprocessing import LabelEncoder
        le = LabelEncoder()
        for i in object_list:
            self.df[i] = le.fit_transform(self.df[i])
        return self.df.head(3)

    def train_test_split(self, target_col):
        from sklearn.model_selection import train_test_split
        x = self.df.drop(columns = [target_col])
        y = self.df[target_col]
        self.x_train, self.x_test, self.y_train, self.y_test = train_test_split(x, y, test_size=0.2, random_state=42) 

    def StandardScaler(self):
        from sklearn.preprocessing import StandardScaler
        sc = StandardScaler()
        self.x_train_new = sc.fit_transform(self.x_train)
        self.x_test_new = sc.transform(self.x_test)

    def model_use(self):
        from sklearn.naive_bayes import GaussianNB, MultinomialNB, BernoulliNB
        classifier = GaussianNB()
        classifier.fit(self.x_train_new, self.y_train)
        self.y_pred = classifier.predict(self.x_test_new)
        return self.y_pred     
    
    def metrics(self):
        print("1. confusion matrix\n2. accuracy score\n3. precision score\n4. recall score")
        number = int(input("Enter the number of metrics : "))
        if number==1:
            from sklearn.metrics import confusion_matrix
            return confusion_matrix(self.y_test, self.y_pred)
        elif number==2:
            from sklearn.metrics import accuracy_score
            return accuracy_score(self.y_test, self.y_pred)
        elif number==3:
            from sklearn.metrics import precision_score
            return precision_score(self.y_test, self.y_pred)
        elif number==4:
            from sklearn.metrics import recall_score
            return recall_score(self.y_test, self.y_pred)

In [2]:
model = Ml_model()

In [3]:
model.data_read("D:\\DataSet\\covid_toy.csv")

   age gender  fever cough     city has_covid
0   60   Male  103.0  Mild  Kolkata        No
1   27   Male  100.0  Mild    Delhi       Yes
2   42   Male  101.0  Mild    Delhi        No

In [4]:
model.handling_missing_value()

False

In [5]:
model.Encoder()

   age  gender  fever  cough  city  has_covid
0   60       1  103.0      0     2          0
1   27       1  100.0      0     1          1
2   42       1  101.0      0     1          0

In [6]:
model.train_test_split("has_covid")

In [7]:
model.StandardScaler()

In [8]:
model.model_use()

array([0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0])

In [9]:
model.metrics()

1. confusion matrix
2. accuracy score
3. precision score
4. recall score

Enter the number of metrics :  1

array([[8, 5],
       [3, 4]], dtype=int64)

In [10]:
import pickle as pkl

In [11]:
with open("pkl_model.pkl", "wb") as file:
    pkl.dump(model, file)

In [12]:
with open("pkl_model.pkl", "rb") as file:
    pkl_model = pkl.load(file)

In [13]:
pkl_model.data_read("D:\\DataSet\\Amazon Sale Report.csv")

C:\Users\Khemr\AppData\Local\Temp\ipykernel_9152\862706566.py:15: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  self.df = pd.read_csv(path)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN